* {
	padding: 0;
	margin: 0;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

header {
	width: 100%;
	background-color: #E8EBF1;
	border-bottom: 1px solid #D9D9D9;
}

.head-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.header__logo {
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	color: #000;
	font-weight: 900;
	margin: 35px 0 45px 0;
}

.header__logo span {
	font-weight: 400;
	color: #2aacc8;
}

.header__menu ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-left: 200px;
}

.header__menu ul li {
	padding: 10px;
}

.active-link {
	border-top: 4px solid #2AACC8;
}


.header__menu-links:hover {
	background-color: #fff;
	color: #2aacc8;
}

.header__menu-links{
	text-decoration: none;
	color: #000;
	list-style: none;
	margin-left: 15px;
	font-family: Arial, sans-serif;
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
}

.header__menu-links:first-child {
	margin-left: 0;
}

.menu__services {
	list-style: none;
	width: 95px;
}

.header__menu-service:last-child {
	margin-left: 0;
}

.arrow {
	width: 7px;
	height: 6px;
	cursor: pointer;
	margin-bottom: 3%;
	margin-left: 5%;
}

.menu__services:hover {
	background-color: #fff;
}

.menu__services ul {
	margin-left: 0;
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;
}


.hover-menu a li {
	margin-top: 15px;
	display: block;
	padding: 10px;
	width: 180px;
}

.hover-manu__links {
	display: none;
	text-decoration: none;
	color: #000;
	font-family: Arial, sans-serif;
	font-weight: 700;
	font-size: 13px;
	background-color: #fff;
	border-bottom: 1px solid #E7E7E7;
	margin-left: -5%;
}

.hover-manu__links:hover {
	color: #2aacc8;
}

.slider__section {
	width: 100%;
	background-color: #81E4ED;
}

.slide__img {
	width: 100%;
	background: url(img/cofee.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 440px; 
	margin-top: 20px;
	margin-bottom: 15px;
	display: none;
}

.visible-img {
	display: block;
}

.slide__img h2 {
	padding-top: 100px;
	margin-left: 60px;
	font-size: 50px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #fff;
	width: 30%;
}

.slider__section-buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-left: calc(50% - 70px);
}

.slider__section-btn {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #71A3A7;
	margin-left: 18px;
	cursor: pointer;
	margin-bottom: 15px;
}

.slider__section-btn:first-child {
	margin-left: 0;
}

.active-btn {
	background-color: #fff;
}

.information {
	width: 100%;
	background-color: #E8EBF1;
}

.information__blocks {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 60px;
}

.information__block {
	width: 23%;
	margin-left: 40px;
}

.information__block:first-child {
	margin-left: 0;
}

.information__block-main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.information__block-main-text {
	font-family: Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
	color: #000;
	margin-left: 20px;
}

.information__block-text {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #363636;
	margin-top: 20px;
}

.information__block-down {
	margin: 25px 0 50px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.information__block-down-link {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #2aacc8;
	text-decoration: none;
	margin-left: 10px;
}

.latest-works {
	width: 100%;
}

.latest-works-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #DFE1E5;
}

.latest-works__main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.latest-works__main-text {
	font-family: Arial, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	margin-left: 25px;
}

.latest-works__main-button {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}

.latest-works__main-buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.latest-works__btn-next {
	margin-left: 10px;
	background: #81E4ED url(img/right-arror.png) no-repeat center center;
}
.latest-works__btn-prev {
	background: #81E4ED url(img/left-arror.png) no-repeat center center;
}

.works-slider {
	width: 100%;
	margin-top: 20px;
}

.works-slider__items {
	width: 100%;
	padding-bottom: 35px;
}

.works-slider__items-inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	overflow: hidden;
	width: 10000px;
}

.works-slider__item {
	margin-left: 40px;
	width: 220px;
	height: 160px;
}
.works-slider__item:first-child {
	margin-left: 0;
}

.slider-item1 {
	background: url(img/yes.jpg) no-repeat center center;
}
.slider-item2 {
	background: url(img/lime.jpg) no-repeat center center;
}
.slider-item3 {
	background: url(img/figures.jpg) no-repeat center center;
}
.slider-item4 {
	background: url(img/goal.jpg) no-repeat center center;
}

.slider-item5 {
	background-color: red;
}
.slider-item6 {
	background-color: yellow;
}
.slider-item7 {
	background-color: green;
}

.works-slider__inner-item {
	width: 100%;
	height: 50%;
	margin-top: 37%;
	background-color: #2AACC8;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.works-slider__inner-links {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.works-slider__inner-preview {
	height: 25px;
	width: 35px;
	background: url(img/prewiew.png) no-repeat center center;
}

.works-slider__inner-link {
	height: 25px;
	width: 35px;
	background: url(img/link.png) no-repeat center center;
	margin-left: 25px;
}


.advantage {
	width: 100%;
}

.advantage-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border-top: 1px solid #DFE1E5;
	padding-top: 20px;
}

.advantage__testimonals {
	width: 50%;
}

.advantage__testimonals-main,
.advantage__clients-main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.advantage__testimonals-title,
.advantage__clients-main-title {
	font-family: Arial, sans-serif;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	font-size: 15px;
	margin-left: 15px;
}

.advantage__testimonals-text {
	font-family: Arial, sans-serif;
	font-weight: 400;
	color: #363636;
	font-size: 14px;
	line-height: 24px;
	margin-top: 20px;
}

.advantage__testimonals-name {
	font-family: Arial, sans-serif;
	font-weight: 700;
	font-style: italic;
	margin-top: 35px;
	color: #363636;
}

.advantage__clients {
	width: calc(50% - 20px);
	margin-left: 20px;
}

.advantage__clients-img {
	background: url(img/our-clients.jpg) no-repeat center center;
	width: 100%;
	height: 200px;
	margin-top: 20px;
}

.template {
	width: 100%;
}

.template-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	background-color: #E8FCFE;
	padding: 35px 0;
	margin-top: 40px;
	border-top: 1px solid #81E4ED;
	border-bottom: 1px solid #81E4ED;
}

.template__text {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #363636;
	line-height: 26px;
	margin-left: 30px;
	width: 60%;
}

.template__btn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	text-align: right;
	align-items: center;
	cursor: pointer;
	margin-left: 80px;
	border: 1px solid rgb(42, 172, 200);
	border-radius: 8px;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2),inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
	width: 238px;
	height: 58px;
	background-image: -webkit-linear-gradient(bottom, rgb(42,172,200) 0%, rgb(96,206,222) 15%, rgb(114,218,230) 50%, rgb(129,228,237) 100%);
	background-image: -o-linear-gradient(left, rgb(42,172,200) 0%, rgb(96,206,222) 15%, rgb(114,218,230) 50%, rgb(129,228,237) 100%);
	background-image: linear-gradient(to top, rgb(42,172,200) 0%, rgb(96,206,222) 15%, rgb(114,218,230) 50%, rgb(129,228,237) 100%);
}

.template__btn:focus {
	outline: none;
}

.template__btn img {
	margin-left: 20px;
}

.template__btn-text {
	margin-left: 22px;
	font-family: Arial, sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #000;
	text-transform: uppercase;
}

.about-us {
	width: 100%;
	background-color: #E8EBF1;
	border-top: 1px solid #D9D9D9;
}

.about-us__flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: top;
	justify-content: space-between;
	padding-top: 30px;
}

.about-us__main-block {
	width: 23%;
}

.about-us__main-block h3,
.about-us__explore-block h3,
.about-us__browse-block h3,
.abous-us__contacts h3,
.abous-us__connecting h3 {
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	font-weight: 700;
	font-size: 15px;
}

.about-us__main-block-text {
	margin-top: 30px;
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #363636;
}

.about-us__explore-block {
	margin-left: 20px;
}

.about-us__explore-block,
.about-us__browse-block {
	width: 15%;
}

.about-us__explore-block-links a,
.about-us__browse-block-links a {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #363636;
	text-decoration: none;
	display: block;
	margin-top: 15px;
}
.about-us__explore-block-links a:hover,
.about-us__browse-block-links a:hover {
	color: #000;
}
.about-us__explore-block-links a:first-child,
.about-us__browse-block-links a:first-child {
	margin-top: 15px;
}

.abous-us__contacts {
	width: 15%;
	margin-left: 20px;
}

.abous-us__contacts-first,
.abous-us__contacts-phone {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #363636;
	margin-top: 20px;
}

.abous-us__contacts-first span {
	font-family: Arial, sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #363636;
}

.abous-us__connecting {
	width: 25%;
	text-align: center;
}

.abous-us__connecting-links {
	margin-top: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.abous-us__connecting-links a {
	margin-left: 20px;
}

.abous-us__connecting-links a:first-child {
	margin-left: 0;
}
.abous-us__connecting-links a:nth-child(4) {
	margin-left: 0;
}

footer {
	width: 100%;
	padding-top: 40px;
	background-color: #E8EBF1;
} 

.footer-flax {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__copyright {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: #363636;
}

.footer__logo {
	font-family: Lato, sans-serif;
	font-weight: 900;
	font-size: 50px;
	color: #000;
	text-decoration: none;
}

.footer__logo span {
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-size: 50px;
	color: #2aacc8;
}


/* CONTACT US PAGE */

.contact-us-sign {
	margin-top: 45px;
}

.contact-us-sign__flex {
	border-bottom: 1px solid #DFE1E5;
	padding-bottom: 15px;
}

.contact-us-sign__main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.contact-us-sign__main h3 {
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin-left: 15px;
}

.contact-us {
	margin-top: 40px;
	margin-bottom: 35px;
}

.contact-us__form-block {
	width: 60%;
}

.contact-us__form-block p {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.contact-us__form-block-second-text {
	margin-top: 20px;
}

.contact-us__form-block-second-text a {
	font-family: Arial, sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #2aacc8;
	text-decoration: none;
}

.contact-us__form {
	margin-top: 30px;
}

.sign-input {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.contact-us__form-input {
	border: 1px solid #B4BAC5;
	display: block;
	min-height: 38px;
	width: 80%;
	margin-top: 15px;
}

.contact-us__form-input:focus {
	outline: none;
}

.form-block {
	margin-top: 15px;
}

.description {
	min-height: 150px;
}

.contact-us__form-button {
	cursor: pointer;
	margin-top: 20px;
	padding: 15px 30px 15px 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
  	border-style: solid;
    border-width: 1px;
    border-color: rgb(42, 172, 200);
    border-radius: 8px;
    background-image: -moz-linear-gradient( 90deg, rgb(42,172,200) 0%, rgb(96,206,222) 15%, rgb(114,218,230) 50%, rgb(129,228,237) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(42,172,200) 0%, rgb(96,206,222) 15%, rgb(114,218,230) 50%, rgb(129,228,237) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(42,172,200) 0%, rgb(96,206,222) 15%, rgb(114,218,230) 50%, rgb(129,228,237) 100%);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2),inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);

}

.contact-us__form-button span {
	font-family: Arial, sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	margin-left: 15px;
}

.contact-us__flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.contact-us__map-block {
	background-color: #E8FCFE;
	border: 1px solid #81E4ED;
	padding: 20px;
	margin-left: 30px;
}

.contact-us__map-block span {
	display: block;
	font-family: Arial, sans-serif;
	font-weight: 700;
	font-size: 14px;
}

.contact-us__map-block img {
	margin-top: 25px;
}

.contact-us__address-sign {
	margin-top: 35px;
	margin-left: 30px;
}

.contact-us__address-sign h3 {
	font-family: Arial, sans-serif;
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
}

.contact-us__contacts-first {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #363636;
	margin-top: 20px;
}

.contact-us__contacts-first span {
	font-family: Arial, sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #363636;
}

.contact-us__contacts-phone {
	margin-top: 20px;
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #363636;
}


/* Porfolio PAGE */

.porfolio {
	margin-top: 40px;
}

.porfolio__main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.porfolio__main h3 {
	font-family: Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
	margin-left: 15px;
}

.portfolio__menu {
	margin: 10px 0;
	padding: 15px 0;
	border-top: 1px solid #DFE1E5;
	border-bottom: 1px solid #DFE1E5;
}

.portfolio__menu-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style: none;
}

.portfolio__menu-list li {
	padding: 10px 15px;
	cursor: pointer;
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.active-works {
	background-color: #81E4ED;
}

.portfolio__items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 40px;
	border-bottom: 1px solid #DFE1E5;
}

.portfolio__item {
	width: calc(25% - 30px);
	margin-left: 40px;
	min-height: 160px;
	margin-top: 40px;
}
.portfolio__item:first-child,
.portfolio__item:nth-child(5),
.portfolio__item:nth-child(9),
.portfolio__item:nth-child(13){
	margin-left: 0;
}

.portfolio__item1 {
	background: url(img/login.jpg) no-repeat center center;
}
.portfolio__item2 {
	background: url(img/fire.jpg) no-repeat center center;
}
.portfolio__item3 {
	background: url(img/iphone.jpg) no-repeat center center;
}
.portfolio__item4 {
	background: url(img/pancil.jpg) no-repeat center center;
}
.portfolio__item5 {
	background: url(img/help.jpg) no-repeat 10% 20%;
}
.portfolio__item6 {
	background: url(img/grey.jpg) no-repeat center center;
}
.portfolio__item7 {
	background: url(img/cloud.jpg) no-repeat center center;
}
.portfolio__item8 {
	background: url(img/books.jpg) no-repeat center center;
}
.portfolio__item9 {
	background: url(img/gifts.jpg) no-repeat center center;
}
.portfolio__item10 {
	background: url(img/sale.jpg) no-repeat center center;
}
.portfolio__item11 {
	background: url(img/smile.jpg) no-repeat center center;
}
.portfolio__item12 {
	background: url(img/regulator.jpg) no-repeat center center;
}
.portfolio__item13 {
	background: url(img/yes.jpg) no-repeat center center;
}
.portfolio__item14 {
	background: url(img/lime.jpg) no-repeat center center;
}
.portfolio__item15 {
	background: url(img/figures.jpg) no-repeat center center;
}
.portfolio__item16 {
	background: url(img/goal.jpg) no-repeat center center;
}

.portfolio__works-count-number {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style: none;
}

.portfolio__works-count-number li {
	padding: 8px 10px;
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	cursor: pointer;
}

.current-page {
	background-color: #81E4ED;
}

.portfolio__works-count,
.portfolio__works-count-next {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.portfolio__works-count-next {
	list-style: none;
}

.portfolio__works-count-next li {
	padding: 10px 8px;
	font-family: Arial, sans-serif;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;
	color: #2AACC8;
	margin-left: 10px;
}

.portfolio__works-count-next li:last-child{
	margin-left: 25px;
}
.portfolio__works-count-next li:hover {
	background-color: #E8EBF1;
}










