* {
	padding: 0;
	margin: 0;
}

h1,h2,h3 {
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'Droid Serif', serif;
}
body {
	background-color: #F7F7F7;
}

section {
	width: 100%;
}

.wrapper{
	margin: 0 auto;
	max-width: 1366px;
}

header {
	margin-top: 50px;
	text-align: center;
}

.portfolio {
	width: 100%;
	text-align: center;
}

.portfolio__title {
	text-align: center;
	font-size: 50px;
	color: #222222;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.flex-works {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.portfolio__work {
	flex-basis: calc(33% - 10px);
	margin: 0 5px;
}



.work-one-image {
	background: url(img/Bloodborne.jpg) no-repeat top center;
	background-size: cover;
}

.work-second-image {
	background: url(img/photograph.jpg) no-repeat center center;
	background-size: cover;
}

.work-three-image {

	background: url(img/girl.jpg) no-repeat 90% center;
	background-size: cover;
}

.portfolio__work-text {
	background-color: #fff;
	padding: 25px 80px;
	text-align: center;
}

h3 {
	font-size: 18px;
	color: #333;
	padding-bottom: 5px;
}

p {
	font-size: 14px;
	color: #737373;
}

.portfolio__work-opacity {
	background-color: rgba(0,0,0,.7);
	width: 100%;
	min-height: 300px;
	z-index: 1000;
	position: relative;
	opacity: 0;
	transition: opacity 1s;
}

.portfolio__work-opacity:hover {
	opacity: 1;
}

.portfolio__button {
	text-align: center;
	width: 50%;
	min-height: 50px;
	background-color: #fff200;
	border-radius: 50px;
	margin: 0 auto;
	position: absolute;
	bottom: 10%;
	left: 25%;
}

.portfolio__button:hover {
	background-color: #fff438;
}

.portfolio__work-opacity a {
	color: #000;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 21px;
	line-height: 50px;
}

/* Media Queries */

@media screen and (max-width: 1105px) {
	.portfolio__work {
		flex-basis: calc(50% - 10px);
	}
}

@media screen and (max-width: 650px) {
	.portfolio__work {
		flex-basis: calc(100% - 40px);
		margin: 10px 20px;

	}
}




